include *.txt
include *.md
include *.pkl
recursive-include ./loan_model *

include loan_model/datasets/loan_dataset.csv
include loan_model/datasets/test.csv
include loan_model/trained_models/*.pkl
include loan_model/VERSION
include loan_model/config.yml

include ./requirements/requirements.txt
include ./requirements/test_requirements.txt
exclude *.log
exclude *.cfg

recursive-exclude * __pycache__
recursive-exclude * *.py[co]